[Unit]
Description=Automatic Update
After=network-online.target

[Service]
Type=simple
SyslogIdentifier=autoupdate
ExecStart=/bin/bash -c "emerge --sync && emerge -uDU --changed-deps --with-bdeps=y @world"
TimeoutStopSec=300
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
