[Unit]
Description=Automatic Update

[Timer]
OnBootSec=1min
OnActiveSec=2h
OnUnitActiveSec=2h
Unit=autoupdate.service

[Install]
WantedBy=multi-user.target
