[Desktop Entry]
Version=1.0
Terminal=false
Icon=/usr/share/icons/breeze/apps/48/gab.png
Type=Application
Categories=Internet
Exec=gab
Name=Gab
GenericName=Gab
Comment=Gab.ai
Keywords=social;web;internet
StartupNotify=true
