[Desktop Entry]
Name=ISO Image Builder
Comment=Build ISO image using Catalyst
TryExec=gnome-terminal -- /opt/TriggerLinux/autocatalyst.sh
Exec=gnome-terminal -- /opt/TriggerLinux/autocatalyst.sh
Icon=application-x-iso
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.30.3
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
X-GNOME-SingleWindow=false
Actions=new-window;preferences;

[Desktop Action new-window]
Name=New Window
Exec=gnome-terminal --window -- /opt/TriggerLinux/autocatalyst.sh

[Desktop Action preferences]
Exec=gnome-terminal --preferences
