[Desktop Entry]
Version=1.0
Terminal=false
Icon=/usr/share/icons/breeze/apps/scalable/minds.svg
Type=Application
Categories=Internet
Exec=minds-wrapper
Name=Minds
GenericName=Minds
Comment=Minds.com
Keywords=social;web;internet
StartupNotify=true
